.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.main_wrap {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 48px auto;
  grid-template-columns: 200px auto;
  grid-template-areas: "a a" "b c";
  grid-gap: 2px;
  background: #ddd;
}

.header_wrap {
  grid-area: a;
  background: #fff;
}
.header_wrap .header_link {
  display: inline-block;
  width: 200px;
  line-height: 48px;
  font-size: 1.5rem;
}

.side_wrap {
  grid-area: b;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(10, 49px);
  background: #fff;
}

.side_wrap .side_link {
  text-align: left;
  margin: 0;
  padding: 0 20px;
  line-height: 48px;
  font-size: 1.3rem;
  border-bottom: 1px solid #ddd;
}

.side_wrap .side_link.selected {
  color: dodgerblue;
}

.side_wrap .side_link.fold_parent {
  font-weight: bold;
}

.side_wrap .side_link.fold_branch {
  padding: 0 40px;
}

.content_wrap {
  grid-area: c;
  background: #fff;
}